@use "helpers/index" as *;

:root {
  --font-family-base: "Open Sans", sans-serif;
  --letter-spacing: -0.01em;

  --border-radius-xs: #{remtext(4)};
  --border-radius-sm: #{remtext(8)};
  --border-radius-md: #{remtext(12)};
  --border-radius-lg: #{remtext(16)};
  --border-radius-xl: #{remtext(20)};

  --container-width-xs: #{remtext(482)};
  --container-width-sm: #{remtext(542)};
  --container-width-md: #{remtext(900)};
  --container-width-lg: #{remtext(1360)};
  --container-padding-x: #{remtext(16)};

  --spacing-xs: #{remtext(4)};
  --spacing-sm: #{remtext(8)};
  --spacing-md: #{remtext(12)};
  --spacing-lg: #{remtext(16)};
  --spacing-xl: #{remtext(20)};
  --spacing-hg: #{remtext(30)};

  --icon-size: #{remtext(24)};

  --calendar-cell-width: #{remtext(100)};
  --calendar-cell-min-width: #{remtext(52)};
  --calendar-cell-height: #{remtext(130)};
  --calendar-grid-template-columns: repeat(
    7,
    minmax(var(--calendar-cell-min-width), var(--calendar-cell-width))
  );

  --week-slide-width: #{remtext(443)};
  --week-slide-padding-x: var(--spacing-md);

  --button-height: #{remtext(44)};
  --input-height: #{remtext(60)};
  --switcher-height-sm: #{remtext(48)};

  --z-index-backdrop: 100;
  --z-index-select: 200;
  --z-index-pop-up: 300;

  --transition-duration: 0.2s;
}
