@use "../../../../styles/helpers/index" as *;

.schedule-week-view {
  @include stretch-container-to-available-size;

  flex-direction: column;

  &__header {
    @include flex-center;

    flex-direction: column;
    row-gap: var(--spacing-lg);

    @include mobile {
      max-width: calc(#{rem(380)} + 2 * var(--container-padding-x));
      margin-inline: auto;
    }

    @include mobile-xs {
      margin-inline: 0;
    }
  }

  &__slider-container,
  &__slider-container-wrapper {
    @include stretch-container-to-available-size;
  }

  &__indicator {
    @include abs-x;
    @include flex-center;
    @include border-shadow-themed(var(--border-radius-sm));

    background-color: var(--select-bg);
    pointer-events: none;

    &--top {
      top: rem(120);
      rotate: -0.25turn;
    }

    &--bottom {
      bottom: 0;
      rotate: 0.25turn;
    }
  }

  &__arrow {
    width: 70%;
    height: 70%;
    color: inherit;
  }
}
