@use "../../../styles/helpers/index" as *;

.switcher {
  &__body {
    height: var(--input-height);
    padding: rem(6);
    background-color: var(--color-light-opacity-10);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-themed);
    backdrop-filter: var(--blur-10);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(6);
    height: 100%;
  }

  &__item {
    &--selected {
      & .switcher__button {
        font-weight: 600;
        color: var(--color-light);
        background-color: var(--color-accent);
        box-shadow: var(--shadow);
      }
    }
  }

  &__button {
    @include reset-button;
    @include flex-center;
    @include fluid-text(20, 16);

    width: 100%;
    height: 100%;
    font-weight: 400;
    color: var(--color-text-accent-themed);
    border-radius: var(--border-radius-small);

    @include hover {
      font-weight: 600;
      color: var(--color-light);
      background-color: var(--color-orange);
    }
  }
}
