@use "../../../styles/helpers/index" as *;

.button {
  @include reset-button;
  @include flex-center;
  @include border-shadow-themed(var(--border-radius));

  color: inherit;
  background-color: var(--color-light-opacity-10);
  backdrop-filter: var(--blur-20);

  svg * {
    color: var(--color-icon-themed);
  }

  @include hover {
    color: var(--color-light);
    background-color: var(--color-accent-themed);

    svg * {
      color: inherit;
    }
  }

  &--square {
    @include square(var(--button-height));
  }

  &--disabled {
    opacity: 0.6;
  }
}
