@use "../../../styles/helpers/index" as *;

.button {
  --buttonBackgroundColor: var(--color-light-opacity-10);
  --buttonTextColor: var(--color-icon-themed);

  @include reset-button;
  @include flex-center;

  color: var(--buttonTextColor);
  background-color: var(--buttonBackgroundColor);
  border: var(--border-themed);
  backdrop-filter: var(--blur-10);
  box-shadow: var(--shadow-themed);

  svg * {
    color: var(--buttonTextColor);
  }

  &:disabled {
    opacity: 0.6;
  }

  &--action {
    box-shadow: var(--shadow-themed);
    backdrop-filter: var(--blur-20);

    @include hover {
      --buttonTextColor: var(--color-light);
      --buttonBackgroundColor: var(--color-blue);

      & * {
        color: inherit;
      }
    }
  }

  &--square {
    @include square(var(--button-height));
  }

  &--circle {
    border-radius: 50%;
  }

  &--primary {
    --buttonBackgroundColor: var(--color-blue);
    --buttonTextColor: var(--color-light);

    border-color: var(--color-light-opacity-10);
    box-shadow: var(--shadow);

    @include hover {
      --buttonBackgroundColor: var(--color-blue-light);
    }
  }

  &--secondary {
    --buttonBackgroundColor: transparent;
    --buttonTextColor: var(--color-blue);

    border-color: inherit;

    @include hover {
      --buttonBackgroundColor: var(--color-dark-opacity-50);
      --buttonTextColor: var(--color-blue);

      border-color: var(--buttonTextColor);

      & * {
        color: var(--buttonTextColor);
      }
    }
  }

  &--primary,
  &--secondary {
    &:active {
      --buttonBackgroundColor: var(--color-dark);
    }

    &:disabled {
      --buttonBackgroundColor: var(--color-gray-100);
      --buttonTextColor: var(--color-light-opacity-50);
    }
  }

  &--borderless {
    border: none !important;
  }
}
