@use "../../../../styles/helpers" as *;

.schedule-page-switcher-mobile {
  @include flex-center;

  column-gap: rem(12);
  height: var(--button-height);
  padding: rem(10) !important;
  border: none;
  box-shadow: var(--shadow-themed);

  &__icon-wrapper {
    @include flex-center(true);
    @include square(rem(24));
  }

  @include hover {
    background-color: var(--color-accent-themed);
  }
}
