.week-slider {
  z-index: 0 !important;
  width: 100%;
  height: 100%;
  padding-top: var(--spacing-lg);

  &__slide {
    z-index: 0 !important;
    overflow-y: auto;
    overscroll-behavior: none;
    max-width: calc(var(--week-slide-width) + 2 * var(--week-slide-padding-x));
    height: 100%;
    padding-bottom: remText(10);
    touch-action: pan-y;
  }
}
