@use "../../styles/helpers" as *;

.new-profile-link {
  padding-inline: rem(8);
  text-decoration: none;
  color: var(--color-text-accent-themed);

  &--active {
    color: var(--color-light);
    background-color: var(--color-orange-opacity-60);
  }
}
