.search-select {
  position: relative;
  overflow: hidden;
  scrollbar-gutter: auto;

  &__list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    scrollbar-gutter: stable;
    row-gap: remText(10);
    width: 100%;
    height: remText(405);
    max-height: remText(405);
    margin-top: remText(15);
    padding-bottom: remText(20);
    scrollbar-width: thin;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: 100%;
      height: remText(40);
      background: linear-gradient(
        180deg,
        transparent 0%,
        var(--color-bg-themed) 100%
      );
    }
  }

  &__empty-result {
    @include flex-center;

    width: 100%;
    height: remText(405);
    max-height: remText(405);
    color: var(--color-text-accent-themed);
  }
}
