.month-switch {
  @include flex-center;

  column-gap: remText(10);

  &__title {
    @include flex-center(true);

    column-gap: remText(15);
    min-width: remText(180);
    height: var(--button-height);
  }

  &__month-name {
    font-size: remText(20);
    font-weight: 700;
  }

  &__year {
    padding-top: remText(4);
    padding-bottom: remText(1);
    font-size: remText(16);
  }

  &__right {
    rotate: 180deg;
  }
}
