@use "../../../../styles/helpers" as *;

.calendar {
  --calendarHeaderBorderColor: var(--select-active-bg);

  @include border-shadow-themed(var(--border-radius-lg));

  width: 100%;
  max-width: rem(843);
  padding: var(--spacing-md) var(--spacing-xl);

  @include mobile {
    padding: var(--spacing-md);
  }

  &__header {
    @include flex-center;

    width: 100%;
    height: 100%;
    max-height: rem(64);
    margin-bottom: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
    border-bottom: rem(2) solid var(--calendarHeaderBorderColor);
  }

  &__inner {
    @include flex-center;

    flex-direction: column;
    width: 100%;
    max-width: 100%;

    @include tablet {
      overflow-x: auto;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: var(--spacing-lg);

    @include mobile {
      row-gap: var(--spacing-sm);
    }
  }

  &__weekdays {
    display: grid;
    grid-template-columns: var(--calendar-grid-template-columns);
    place-items: center;
    gap: var(--spacing-md);

    @include mobile {
      gap: var(--spacing-xs);
    }

    & span {
      @include flex-center(true);

      font-weight: 700;

      @include mobile {
        min-width: var(--calendar-cell-min-width);
      }
    }
  }
}
