.calendar-week {
  border-radius: var(--border-radius-lg);

  &__list {
    display: grid;
    grid-template-columns: var(--calendar-grid-template-columns);
    column-gap: var(--spacing-md);
    height: 100%;
    min-height: calc(var(--calendar-cell-height) + #{remText(8)});
    padding: remText(4);

    @include mobile {
      column-gap: var(--spacing-xs);
    }
  }

  &__item {
    max-width: var(--calendar-cell-width);
  }
}
