.month-switch {
  @include flex-center;

  column-gap: remtext(10);

  &__title {
    @include flex-center(true);

    column-gap: remtext(15);
    min-width: remtext(180);
    height: var(--button-height);
  }

  &__month-name {
    font-size: remtext(20);
    font-weight: 700;
  }

  &__year {
    padding-top: remtext(4);
    padding-bottom: remtext(1);
    font-size: remtext(16);
  }

  &__right {
    rotate: 180deg;
  }
}
