@use "./helpers" as *;

:root {
  --color-light: #f8f9fc;
  --color-light-opacity-5: rgba(248 249 252 / 0.05);
  --color-light-opacity-10: rgba(248 249 252 / 0.1);
  --color-light-opacity-50: rgba(248 249 252 / 0.5);

  --color-dark: #0a0f2c;

  @include generate-color-opacities("dark", 10 15 44);

  --color-dark-opacity-5: rgb(10 15 44 / 0.05);
  --color-dark-opacity-25: rgb(10 15 44 / 0.25);

  --color-accent: #1a4d8f;
  --color-accent-alt: #0d3a6a;

  --color-gray-100: #a0a5c0;
  --color-gray-300: #5a6080;

  --color-blue-light: #4689d6;
  --color-blue: rgb(24 108 204);

  @include generate-color-opacities("blue", 24 108 204);

  --color-green: #4cd964;

  @include generate-color-opacities("green", 76 217 100);

  --color-yellow: #ffcc00;

  --color-red: #ff4f45;

  @include generate-color-opacities("red", 255 79 69);

  --color-orange: #ef7e1c;

  @include generate-color-opacities("orange", 239 126 28);

  --shadow: 0 0 20px 0 rgb(16 72 136 / 0.2);
  --blur-10: blur(10px);
  --blur-20: blur(20px);

  --border-light: #{rem(1)} solid var(--color-light-opacity-5);
  --border-dark: #{rem(1)} solid var(--color-dark-opacity-10);
  --border-blue: #{rem(1)} solid var(--color-blue);

  --button-border: #{rem(1)} solid var(--color-dark-opacity-10);
  --button-border-themed: var(--button-border);

  --color-bg-themed: var(--color-light);
  --color-accent-themed: var(--color-accent-alt);
  --color-text-themed: var(--color-dark);
  --color-text-accent-themed: var(--color-gray-300);
  --color-icon-themed: var(--color-dark);

  --border-themed: var(--border-dark);

  --shadow-themed: var(--shadow);

  --select-bg: var(--color-light);
  --select-active-bg: var(--color-dark-opacity-10);

  --selected-profile-bg: var(--color-orange-opacity-60);
  --profile-hover-bg: var(--color-dark-opacity-10);
  --profile-hover-text-color: var(--color-dark);

  --header-button-color: var(--color-dark);

  --lesson-card-bg: var(--color-light);
  --lesson-card-border: var(--color-light-opacity-5);

  --scrollbar-bg-color: transparent;

  color-scheme: dark light;

  &.dark-mode {
    --header-button-color: var(--color-gray-100);
    --header-bg-themed: var(--color-dark);

    --color-bg-themed: var(--color-dark);
    --color-accent-themed: var(--color-accent);
    --color-text-themed: var(--color-light);
    --color-text-accent-themed: var(--color-gray-100);
    --color-icon-themed: var(--color-light);
    --border-themed: var(--border-light);
    --select-bg: var(--color-light-opacity-5);
    --select-active-bg: var(--color-light-opacity-10);

    --lesson-card-bg: var(--color-light-opacity-10);

    --profile-hover-bg: var(--color-light-opacity-10);
    --profile-hover-text-color: var(--color-gray-100);

    --shadow-themed: none;

    --scrollbar-bg-color: var(--color-light-opacity-10);
  }
}
