@use "./helpers" as *;

:root {
  --color-light: #ffffff;
  --color-light-alt: #eff3ff;
  --color-light-opacity-5: rgba(255 255 255 / 0.05);
  --color-light-opacity-10: rgba(255 255 255 / 0.1);

  --color-dark: #0a0f2c;
  --color-dark-opacity-5: rgb(10 15 44 / 0.05);
  --color-dark-opacity-10: rgb(10 15 44 / 0.1);
  --color-accent: #1a4d8f;
  --color-accent-alt: #0d3a6a;

  --color-gray: #a0a5c0;
  --color-gray-dark: #5a6080;

  --color-gray-light: #a0a5c0;

  --color-blue: rgb(24 108 204);
  --color-blue-opacity-20: rgb(24 108 204 / 0.2);

  --color-green: #4cd964;
  --color-yellow: #ffcc00;
  --color-red: #ff4f45;
  --color-orange: #ef7e1c;
  --color-orange-opacity-20: rgb(239 126 28 / 0.2);
  --color-orange-opacity-60: rgb(239 126 28 / 0.6);

  --shadow: 0 0 #{rem(20)} 0 rgb(16 72 136 / 0.2);
  --blur-10: blur(10px);
  --blur-20: blur(20px);

  --border-light: #{rem(1)} solid var(--color-light-opacity-5);
  --border-dark: #{rem(1)} solid var(--color-dark-opacity-5);

  --color-bg-themed: var(--color-light-alt);
  --color-accent-themed: var(--color-accent-alt);
  --color-text-themed: var(--color-dark);
  --color-text-accent-themed: var(--color-gray-dark);
  --border-themed: var(--border-dark);
  --color-icon-themed: var(--color-dark);
  --shadow-themed: var(--shadow);
  --header-bg-themed: var(--color-light-alt);

  --select-bg: var(--color-light-alt);
  --select-active-bg: var(--color-dark-opacity-10);

  --selected-profile-bg: var(--color-orange);

  color-scheme: dark light;

  & .dark-mode {
    --color-bg-themed: var(--color-dark);
    --color-accent-themed: var(--color-accent);
    --color-text-themed: var(--color-light);
    --color-text-accent-themed: var(--color-gray);
    --color-icon-themed: var(--color-light);
    --border-themed: var(--border-light);
    --header-bg-themed: var(--color-dark);
    --select-bg: var(--color-light-opacity-5);
    --select-active-bg: var(--color-light-opacity-10);

    --selected-profile-bg: var(--color-orange-opacity-60);

    --shadow-themed: none;
  }
}
