@use "helpers" as *;

h1,
.h1 {
  @include fluid-text(32, 24);

  font-weight: 700;
}

h2, .h2,
h3, .h3 {
  @include fluid-text(20, 16);

}

h2,
.h2 {
  font-weight: 600;
}

h3,
.h3 {
  font-weight: 400;
}

.text-16 {
  font-size: rem(16);
}

.text-14 {
  font-size: rem(14);
}

.bold{
  font-weight: 700;
}
