@use "./helpers" as *;

.container,
.container-extra-small,
.container-small,
.container-large,
.container-extra-large {
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container {
  @include container-max-width(
    var(--container-width),
    var(--container-padding-x)
  );
}

.container-extra-small {
  @include container-max-width(
    var(--container-width-extra-small),
    var(--container-padding-x)
  );
}

.container-small {
  @include container-max-width(
    var(--container-width-small),
    var(--container-padding-x)
  );
}

.container-large {
  @include container-max-width(rem(1368), var(--container-padding-x));
}

.container-extra-large {
  @include container-max-width(
    var(--container-width-large),
    var(--container-padding-x)
  );
}

.backdrop {
  position: fixed;
  z-index: var(--z-index-backdrop);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: auto;
}

.visually-hidden {
  @include visually-hidden;
}

.hidden {
  display: none !important;
}

.hidden-mobile-s,
.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile-s,
.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.visible-laptop {
  @include laptop-above {
    display: none !important;
  }
}

.hidden-laptop {
  @include laptop {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}

.hover-orange-20 {
  @include hover {
    color: var(--color-light);
    background-color: var(--color-orange-opacity-20);
  }
}

.overflow-x-hidden {
  -ms-overflow-x: hidden;
  overflow-x: hidden;
}
