@use "./helpers" as *;

:root {
  --font-family-base: "Open Sans", sans-serif;
  --letter-spacing: -0.01em;

  --border-radius-small: #{rem(8)};
  --border-radius: #{rem(12)};
  --border-radius-medium: #{rem(16)};
  --border-radius-large: #{rem(20)};

  --container-width-extra-small: #{rem(482)};
  --container-width-small: #{rem(542)};
  --container-width: #{rem(900)};
  --container-width-large: #{rem(1360)};
  --container-padding-x: #{rem(16)};

  --calendar-cell-width: #{rem(100)};
  --calendar-cell-height: #{rem(130)};

  --button-height: #{rem(44)};
  --input-height: #{rem(60)};

  --z-index-backdrop: 100;
  --z-index-select: 200;
  --z-index-pop-up: 300;

  --transition-duration: 0.2s;
}
