@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class], :last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-color: currentColor;
  border-collapse: collapse;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("src/assets/fonts/open-sans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("src/assets/fonts/open-sans-semi-bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("src/assets/fonts/open-sans-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #ffffff;
  --color-light-alt: #eff3ff;
  --color-light-opacity-5: rgba(255 255 255 / 0.05);
  --color-light-opacity-10: rgba(255 255 255 / 0.1);
  --color-dark: #0a0f2c;
  --color-dark-opacity-5: rgb(10 15 44 / 0.05);
  --color-dark-opacity-10: rgb(10 15 44 / 0.1);
  --color-dark-opacity-25: rgb(10 15 44 / 0.25);
  --color-accent: #1a4d8f;
  --color-accent-alt: #0d3a6a;
  --color-gray: #a0a5c0;
  --color-gray-dark: #5a6080;
  --color-gray-light: #a0a5c0;
  --color-blue: rgb(24 108 204);
  --color-blue-opacity-10: rgb(
    24 108 204 / 0.1
  );
  --color-blue-opacity-20: rgb(
    24 108 204 / 0.2
  );
  --color-blue-opacity-30: rgb(
    24 108 204 / 0.3
  );
  --color-blue-opacity-40: rgb(
    24 108 204 / 0.4
  );
  --color-blue-opacity-50: rgb(
    24 108 204 / 0.5
  );
  --color-blue-opacity-60: rgb(
    24 108 204 / 0.6
  );
  --color-blue-opacity-70: rgb(
    24 108 204 / 0.7
  );
  --color-blue-opacity-80: rgb(
    24 108 204 / 0.8
  );
  --color-blue-opacity-90: rgb(
    24 108 204 / 0.9
  );
  --color-green: #4cd964;
  --color-green-opacity-10: rgb(
    76 217 100 / 0.1
  );
  --color-green-opacity-20: rgb(
    76 217 100 / 0.2
  );
  --color-green-opacity-30: rgb(
    76 217 100 / 0.3
  );
  --color-green-opacity-40: rgb(
    76 217 100 / 0.4
  );
  --color-green-opacity-50: rgb(
    76 217 100 / 0.5
  );
  --color-green-opacity-60: rgb(
    76 217 100 / 0.6
  );
  --color-green-opacity-70: rgb(
    76 217 100 / 0.7
  );
  --color-green-opacity-80: rgb(
    76 217 100 / 0.8
  );
  --color-green-opacity-90: rgb(
    76 217 100 / 0.9
  );
  --color-yellow: #ffcc00;
  --color-red: #ff4f45;
  --color-red-opacity-10: rgb(
    255 79 69 / 0.1
  );
  --color-red-opacity-20: rgb(
    255 79 69 / 0.2
  );
  --color-red-opacity-30: rgb(
    255 79 69 / 0.3
  );
  --color-red-opacity-40: rgb(
    255 79 69 / 0.4
  );
  --color-red-opacity-50: rgb(
    255 79 69 / 0.5
  );
  --color-red-opacity-60: rgb(
    255 79 69 / 0.6
  );
  --color-red-opacity-70: rgb(
    255 79 69 / 0.7
  );
  --color-red-opacity-80: rgb(
    255 79 69 / 0.8
  );
  --color-red-opacity-90: rgb(
    255 79 69 / 0.9
  );
  --color-orange: #ef7e1c;
  --color-orange-opacity-10: rgb(
    239 126 28 / 0.1
  );
  --color-orange-opacity-20: rgb(
    239 126 28 / 0.2
  );
  --color-orange-opacity-30: rgb(
    239 126 28 / 0.3
  );
  --color-orange-opacity-40: rgb(
    239 126 28 / 0.4
  );
  --color-orange-opacity-50: rgb(
    239 126 28 / 0.5
  );
  --color-orange-opacity-60: rgb(
    239 126 28 / 0.6
  );
  --color-orange-opacity-70: rgb(
    239 126 28 / 0.7
  );
  --color-orange-opacity-80: rgb(
    239 126 28 / 0.8
  );
  --color-orange-opacity-90: rgb(
    239 126 28 / 0.9
  );
  --shadow: 0 0 20px 0 rgb(16 72 136 / 0.2);
  --blur-10: blur(10px);
  --blur-20: blur(20px);
  --border-light: 0.0625rem solid var(--color-light-opacity-5);
  --border-dark: 0.0625rem solid var(--color-dark-opacity-5);
  --color-bg-themed: var(--color-light-alt);
  --color-accent-themed: var(--color-accent-alt);
  --color-text-themed: var(--color-dark);
  --color-text-accent-themed: var(--color-gray-dark);
  --border-themed: var(--border-dark);
  --color-icon-themed: var(--color-dark);
  --shadow-themed: var(--shadow);
  --header-bg-themed: var(--color-light-alt);
  --select-bg: var(--color-light-alt);
  --select-active-bg: var(--color-dark-opacity-10);
  --selected-profile-bg: var(--color-orange);
  --lesson-card-bg: var(--color-light-alt);
  --lesson-card-border: var(--color-dark-opacity-25);
  color-scheme: dark light;
}
:root .dark-mode {
  --color-bg-themed: var(--color-dark);
  --color-accent-themed: var(--color-accent);
  --color-text-themed: var(--color-light);
  --color-text-accent-themed: var(--color-gray);
  --color-icon-themed: var(--color-light);
  --border-themed: var(--border-light);
  --header-bg-themed: var(--color-dark);
  --select-bg: var(--color-light-opacity-5);
  --select-active-bg: var(--color-light-opacity-10);
  --selected-profile-bg: var(--color-orange-opacity-60);
  --lesson-card-bg: var(--color-light-opacity-10);
  --shadow-themed: none;
  --lesson-card-border: transparent;
}

:root {
  --font-family-base: "Open Sans", sans-serif;
  --letter-spacing: -0.01em;
  --border-radius-small: 0.5rem;
  --border-radius: 0.75rem;
  --border-radius-medium: 1rem;
  --border-radius-large: 1.25rem;
  --container-width-extra-small: 30.125rem;
  --container-width-small: 33.875rem;
  --container-width: 56.25rem;
  --container-width-large: 85rem;
  --container-padding-x: 1rem;
  --calendar-cell-width: 6.25rem;
  --calendar-cell-height: 8.125rem;
  --button-height: 2.75rem;
  --input-height: 3.75rem;
  --z-index-backdrop: 100;
  --z-index-select: 200;
  --z-index-pop-up: 300;
  --transition-duration: 0.2s;
}

.container,
.container-extra-small,
.container-small,
.container-large,
.container-extra-large {
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + 2 * var(--container-padding-x));
}

.container-extra-small {
  width: 100%;
  max-width: calc(var(--container-width-extra-small) + 2 * var(--container-padding-x));
}

.container-small {
  width: 100%;
  max-width: calc(var(--container-width-small) + 2 * var(--container-padding-x));
}

.container-large {
  width: 100%;
  max-width: calc(85.5rem + 2 * var(--container-padding-x));
}

.container-extra-large {
  width: 100%;
  max-width: calc(var(--container-width-large) + 2 * var(--container-padding-x));
}

.backdrop {
  position: fixed;
  z-index: var(--z-index-backdrop);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: auto;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  white-space: nowrap !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(100%) !important;
}

@media (width <= 47.999375rem) {
  .hidden-mobile-s,
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.999375rem) {
  .visible-mobile-s,
  .visible-mobile {
    display: none !important;
  }
}

@media (hover: hover) {
  .hover-orange-20:hover {
    color: var(--color-light);
    background-color: var(--color-orange-opacity-20);
  }
}
@media (hover: none) {
  .hover-orange-20:active {
    color: var(--color-light);
    background-color: var(--color-orange-opacity-20);
  }
}

body {
  height: 100%;
  max-height: 100dvh;
  font-family: var(--font-family-base), sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: var(--letter-spacing);
  color: var(--color-text-themed);
  background-color: var(--color-bg-themed);
}

a,
button,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

button {
  user-select: none;
}

a[class=""],
a [class=active], a:not([class]) {
  color: var(--color-blue);
}
@media (hover: hover) {
  a[class=""]:hover,
  a [class=active]:hover, a:not([class]):hover {
    color: var(--color-orange);
  }
}
@media (hover: none) {
  a[class=""]:active,
  a [class=active]:active, a:not([class]):active {
    color: var(--color-orange);
  }
}

h1,
.h1 {
  font-size: clamp(1.5rem, 1.3846153846rem + 0.5128205128vw, 2rem);
  font-weight: 700;
}

h2,
.h2,
h3,
.h3 {
  font-size: clamp(1rem, 0.9423076923rem + 0.2564102564vw, 1.25rem);
}

h2,
.h2 {
  font-weight: 600;
}

h3,
.h3 {
  font-weight: 400;
}

.text-16 {
  font-size: 1rem;
}

.text-14 {
  font-size: 0.875rem;
}

.bold {
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */
