@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class], :last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-color: currentColor;
  border-collapse: collapse;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("src/assets/fonts/open-sans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("src/assets/fonts/open-sans-semi-bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("src/assets/fonts/open-sans-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #ffffff;
  --color-light-alt: #f8f9fc;
  --color-dark: #0A0F2C;
  --color-accent: #186ccc;
  --color-accent-alt: #0D3A6A;
  --color-gray: #718096;
  --color-gray-light: #A0A5C0;
  --color-gray-dark: #4A5568;
  --color-green: #4CD964;
  --color-yellow: #FFCC00;
  --color-red: #FF4F45;
  --color-orange: #EF7E1C;
  --shadow: 0.125rem 0.125rem 0.25rem 0 rgb(16 72 136 / 0.2);
  --blur-10: blur(10px);
  --blur-20: blur(20px);
  --border-light: 0.0625rem solid rgb(0 0 0 / 0.05);
  --border-dark: 0.0625rem solid rgb(255 255 255 / 0.05);
  --color-bg-themed: var(--color-light-alt);
  --color-accent-themed: var(--color-accent);
  --color-text-themed: var(--color-light);
  --border-themed: var(--border-light);
  color-scheme: dark light;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-themed: var(--color-dark);
    --color-accent-themed: var(--color-accent-alt);
    --color-text-themed: var(--color-gray);
    --border-themed: var(--border-dark);
  }
}

:root {
  --font-family-base: "Open Sans", sans-serif;
  --letter-spacing: -0.01em;
  --border-radius-small: 0.5rem ;
  --border-radius: 0.75rem;
  --border-radius-medium: 1rem;
  --border-radius-large: 1.25rem;
  --container-width-small: 33.875rem;
  --container-width: 56.25rem;
  --container-width-large: 85rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
}

.container,
.container-small,
.container-large {
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container {
  width: calc(var(--container-width) + 2 * var(--container-padding-x));
}

.container-small {
  width: calc(var(--container-width-small) + 2 * var(--container-padding-x));
}

.container-large {
  width: calc(var(--container-width-large) + 2 * var(--container-padding-x));
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  white-space: nowrap !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(100%) !important;
}

body {
  font-family: var(--font-family-base), sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: var(--letter-spacing);
}

a,
button,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

h1,
.h1 {
  font-size: clamp(1.5rem, 1.3846153846rem + 0.5128205128vw, 2rem);
  font-weight: 700;
}

h2, .h2,
h3, .h3 {
  font-size: clamp(1rem, 0.9423076923rem + 0.2564102564vw, 1.25rem);
}

h2,
.h2 {
  font-weight: 600;
}

h3,
.h3 {
  font-weight: 400;
}

.text-16 {
  font-size: 1rem;
}

.text-14 {
  font-size: 0.875rem;
}

.bold {
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */
