@use "../../../../styles/helpers" as *;

.schedule-week-view-sub-header {
  &__inner {
    @include flex-center;

    justify-content: space-between;
    column-gap: var(--spacing-lg);
    width: 100%;
  }

  &__link {
    @include flex-center(true);

    column-gap: var(--spacing-sm);
    height: var(--button-height);
    padding-inline: var(--spacing-md);
    font-size: rem(14) !important;
  }

  &__icon {
    @include square(var(--icon-size));

    flex-shrink: 0;
  }

  &__week-select {
    place-self: center center;
  }
}
