@use "../../styles/helpers" as *;

.search-item {
  display: flex;
  align-items: center;
  column-gap: rem(10);
  height: var(--button-height);
  padding: rem(6) rem(10);
  background-color: var(--color-light-opacity-10);
  border: var(--border-themed);
  border-radius: var(--border-radius);
  cursor: pointer;

  &__heading,
  svg * {
    @include square(rem(24));

    flex-shrink: 0;
  }

  &__title {
    @include fluid-text(16, 14);
    @include text-overflow-ellipsis(2);

    margin-right: auto;
  }

  &__trailing-icon {
    padding: rem(4);
    border-radius: rem(6);

    @include hover {
      color: var(--color-light);
      background-color: var(--color-orange-opacity-20);
    }

    &--cross {
      color: var(--color-gray);
    }
  }
}
