@use "../../../../styles/helpers/index" as *;

.profile-creation {
  &__inner {
    @include border-shadow-themed(var(--border-radius-xl));

    margin-top: var(--spacing-xl);
    padding: var(--spacing-hg);

    @include mobile {
      padding: var(--spacing-lg);
    }
  }

  &__loading-fallback,
  &__retry-fallback {
    height: rem(400);
  }

  &__body,
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-xl);
  }

  &__institutes-select {
    & .search-item__trailing-icon:not(.search-item__trailing-icon--cross) {
      display: none !important;
    }
  }
}
