@use "../../../../styles/helpers/index" as *;

.profile-creation {
  &__inner {
    @include border-shadow-themed(var(--border-radius-large), false);

    margin-top: rem(30);
    padding: rem(30);

    @include mobile {
      padding: rem(15);
    }
  }

  &__loading-fallback,
  &__retry-fallback {
    height: rem(400);
  }

  &__body,
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
  }

  &__next-button {
    margin-top: rem(40);
  }
}
