@use "../../styles/helpers" as *;

.retry-fallback {
  @include flex-center;

  &__body {
    @include flex-center;

    flex-direction: column;
    row-gap: rem(15);
  }

  &__button {
    width: 100%;
    padding-inline: rem(10);
  }

  &__title {
    color: var(--color-text-accent-themed);
  }
}
