@use "../../../styles/helpers" as *;

.book-mark-popover {
  --bookMarkPopoverHeight: #{rem(52)};
  --bookMarkClipPath: polygon(
      #{rem(10.43)} #{rem(5.46)},
      #{rem(11.78)} #{rem(2.73)},
      #{rem(14.56)} #{rem(1)},
      #{rem(17.60)} #{rem(1)},
      calc(100% - #{rem(1)}) #{rem(1)},
      calc(100% - #{rem(1)}) #{rem(51)},
      #{rem(17.51)} #{rem(51)},
      #{rem(14.51)} #{rem(51)},
      #{rem(11.77)} #{rem(49.32)},
      #{rem(10.40)} #{rem(46.66)},
      #{rem( 1.88)} #{rem(30.08)},
      #{rem(0.73)} #{rem(27.83)},
      #{rem(0.70)} #{rem(25.16)},
      #{rem(1.83)} #{rem(22.89)}
  );

  @include flex-center;

  position: fixed;
  right: 0;
  width: rem(38);
  height: var(--bookMarkPopoverHeight);

  &__toggler {
    @include reset-button;
    @include flex-center(true);

    width: rem(39);
    height: var(--bookMarkPopoverHeight);
    padding-left: rem(5);
    color: inherit;
    cursor: pointer;
  }

  &__icon {
    flex-shrink: 0;
  }

  &__body,
  &__title {
    font-size: rem(14);
    white-space: nowrap;
  }

  &__inner {
    @include flex-center;

    position: absolute;
    z-index: 300;
    right: 0;
    overflow: hidden;
    clip-path: var(--bookMarkClipPath);

    &::after {
      @include abs-center;

      content: "";
      z-index: -1;
      width: 100%;
      height: var(--bookMarkPopoverHeight);
      background-color: var(--color-bg-themed);
      clip-path: var(--bookMarkClipPath);
      scale: 0.95;
    }

    &::before {
      @include abs-center;

      content: "";
      z-index: -2;
      width: 100%;
      height: var(--bookMarkPopoverHeight);
      background-color: var(--bookmark-popover-border-color-themed);
      clip-path: var(--bookMarkClipPath);
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: start;

    flex-direction: column;
    overflow: hidden;
    margin-right: var(--spacing-md);
  }

  &--opened {
    z-index: var(--z-index-select);

    & .book-mark-popover__inner::after {
      scale: 0.99;
    }
  }
}
