.book-mark-popover {
  --bookMarkPopoverHeight: #{remtext(52)};
  --bookMarkClipPath: polygon(
    #{remtext(10.43)} #{remtext(5.46)},
    #{remtext(11.78)} #{remtext(2.73)},
    #{remtext(14.56)} #{remtext(1)},
    #{remtext(17.6)} #{remtext(1)},
    calc(100% - #{remtext(1)}) #{remtext(1)},
    calc(100% - #{remtext(1)}) #{remtext(51)},
    #{remtext(17.51)} #{remtext(51)},
    #{remtext(14.51)} #{remtext(51)},
    #{remtext(11.77)} #{remtext(49.32)},
    #{remtext(10.4)} #{remtext(46.66)},
    #{remtext(1.88)} #{remtext(30.08)},
    #{remtext(0.73)} #{remtext(27.83)},
    #{remtext(0.7)} #{remtext(25.16)},
    #{remtext(1.83)} #{remtext(22.89)}
  );

  @include flex-center;

  position: fixed;
  right: 0;
  width: remtext(38);
  height: var(--bookMarkPopoverHeight);

  &__toggler {
    @include reset-button;
    @include flex-center(true);

    width: remtext(39);
    height: var(--bookMarkPopoverHeight);
    padding-left: remtext(5);
    color: inherit;
    cursor: pointer;
  }

  &__icon {
    flex-shrink: 0;
  }

  &__body,
  &__title {
    font-size: remtext(14);
    white-space: nowrap;
  }

  &__inner {
    @include flex-center;

    position: absolute;
    z-index: 300;
    right: 0;
    overflow: hidden;
    clip-path: var(--bookMarkClipPath);

    &::after {
      @include abs-center;

      content: "";
      z-index: -1;
      width: 100%;
      height: var(--bookMarkPopoverHeight);
      background-color: var(--color-bg-themed);
      clip-path: var(--bookMarkClipPath);
      scale: 0.95;
    }

    &::before {
      @include abs-center;

      content: "";
      z-index: -2;
      width: 100%;
      height: var(--bookMarkPopoverHeight);
      background-color: var(--bookmark-popover-border-color-themed);
      clip-path: var(--bookMarkClipPath);
    }
  }

  &__content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-right: var(--spacing-md);
  }

  &--opened {
    z-index: var(--z-index-select);

    & .book-mark-popover__inner::after {
      scale: 0.99;
    }
  }
}
