.book-mark-popover {
  --bookMarkPopoverHeight: #{remText(52)};
  --bookMarkClipPath: polygon(
      #{remText(10.43)} #{remText(5.46)},
      #{remText(11.78)} #{remText(2.73)},
      #{remText(14.56)} #{remText(1)},
      #{remText(17.60)} #{remText(1)},
      calc(100% - #{remText(1)}) #{remText(1)},
      calc(100% - #{remText(1)}) #{remText(51)},
      #{remText(17.51)} #{remText(51)},
      #{remText(14.51)} #{remText(51)},
      #{remText(11.77)} #{remText(49.32)},
      #{remText(10.40)} #{remText(46.66)},
      #{remText( 1.88)} #{remText(30.08)},
      #{remText(0.73)} #{remText(27.83)},
      #{remText(0.70)} #{remText(25.16)},
      #{remText(1.83)} #{remText(22.89)}
  );

  @include flex-center;

  position: fixed;
  right: 0;
  width: remText(38);
  height: var(--bookMarkPopoverHeight);

  &__toggler {
    @include reset-button;
    @include flex-center(true);

    width: remText(39);
    height: var(--bookMarkPopoverHeight);
    padding-left: remText(5);
    color: inherit;
    cursor: pointer;
  }

  &__icon {
    flex-shrink: 0;
  }

  &__body,
  &__title {
    font-size: remText(14);
    white-space: nowrap;
  }

  &__inner {
    @include flex-center;

    position: absolute;
    z-index: 300;
    right: 0;
    overflow: hidden;
    clip-path: var(--bookMarkClipPath);

    &::after {
      @include abs-center;

      content: "";
      z-index: -1;
      width: 100%;
      height: var(--bookMarkPopoverHeight);
      background-color: var(--color-bg-themed);
      clip-path: var(--bookMarkClipPath);
      scale: 0.95;
    }

    &::before {
      @include abs-center;

      content: "";
      z-index: -2;
      width: 100%;
      height: var(--bookMarkPopoverHeight);
      background-color: var(--bookmark-popover-border-color-themed);
      clip-path: var(--bookMarkClipPath);
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: start;

    flex-direction: column;
    overflow: hidden;
    margin-right: var(--spacing-md);
  }

  &--opened {
    z-index: var(--z-index-select);

    & .book-mark-popover__inner::after {
      scale: 0.99;
    }
  }
}
