@use "../../../../styles/helpers/index" as *;

.new-profile-item {
  border-bottom: var(--border-themed);
  transition-duration: var(--transition-duration);

  &--active {
    color: var(--color-light);
    background-color: var(--selected-profile-bg);
  }
}
