.schedule-calendar-view {
  display: flex;
  justify-content: start;
  column-gap: var(--spacing-xl);
  transition-duration: 0.2s;

  @include laptop {
    justify-content: center;
    gap: 0;
    width: 100%;
    max-width: remtext(870);
    padding-inline: 0;
  }

  @include mobile {
    justify-content: start;
  }

  &__calendar-wrapper {
    position: relative;
    width: fit-content;
    max-width: 100%;
  }

  &__popover-wrapper {
    position: absolute;
    top: var(--spacing-md);
    right: var(--spacing-xl);
  }

  &__day {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: var(--spacing-lg);
    width: 100%;
    max-width: calc(100% - #{remtext(870)} - var(--spacing-xl));

    &-item {
      width: 100%;
    }
  }
}
