@use "../../../../styles/helpers/index" as *;

.schedule-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  padding-block: var(--spacing-xl);

  @include mobile {
    height: 100%;
    padding-block: var(--spacing-md);
  }
}
