@use "../../../../styles/helpers/index" as *;

.calendar-lesson {
  display: flex;
  align-items: center;
  width: 100%;
  height: rem(19);
  padding-inline: rem(4);
  text-align: start;
  background-color: #a0a5c0;

  @include mobile {
    padding-inline: rem(1);
  }

  &__title {
    @include fluid-text(16, 12);

    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--lecture {
    background-color: var(--color-green-opacity-50);
  }

  &--practical {
    background-color: var(--color-orange-opacity-80);
  }

  &--laboratory {
    background-color: var(--color-blue-opacity-60);
  }

  &--exam {
    background-color: var(--color-red-opacity-50);
  }
}
