@use "../../../styles/helpers/index" as *;

.accent-button {
  @include reset-button;
  @include flex-center(true);

  height: var(--button-height);
  color: var(--color-light);
  background-color: var(--color-accent);
  border-radius: var(--border-radius);

  &--transparent {
    background-color: transparent;
  }

  @include hover {
    background-color: var(--color-orange);
  }

  &--square {
    @include square(var(--button-height));
  }
}
