.schedule-layout {
  display: contents;

  &__spinner,
  &__retry-fallback {
    height: 100%;

    @include mobile-above {
      height: remtext(600);
    }
  }

  &__spinner {
    justify-content: center;
    align-items: center;
  }
}
