@use "../../../../styles/helpers" as *;

.schedule-week-select-toggler {
  @include flex-center(true);

  flex-shrink: 0;
  column-gap: var(--spacing-sm);
  height: var(--button-height);
  padding-inline: var(--spacing-md);

  &__body {
    @include flex-center;

    flex-direction: column;
  }

  &__title {
    font-size: rem(14);
    font-weight: 400;
  }

  &__current-item {
    font-size: rem(12);
    color: var(--color-text-accent-themed);
  }

  &__arrows {
    @include square(var(--icon-size));

    flex-shrink: 0;
  }
}
