.schedule-week-select {
  @include flex-center;

  column-gap: var(--spacing-lg);
  height: var(--button-height);

  &__content {
    overflow-y: auto;
    max-height: remText(300);

    @include mobile {
      max-height: remText(300);
    }

    @include mobile-s {
      max-height: remText(250);
    }
  }
}
