@use "../../../../styles/helpers" as *;

.schedule-week-select {
  @include flex-center;

  column-gap: rem(15);
  height: var(--button-height);

  &__content {
    overflow-y: auto;
    max-height: rem(480);

    @include mobile {
      max-height: rem(300);
    }
  }
}
