@use "../../styles/helpers" as *;

.data-status-popover {
  &--success {
    color: var(--color-green) !important;
  }

  &--error {
    & {
      color: var(--color-orange) !important;
    }
  }
}

.data-status-popover-spinner {
  @include square(var(--button-height));

  & .spinner__svg {
    width: var(--icon-size) !important;
    height: var(--icon-size) !important;
  }
}
