.search-item {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-md);
  height: var(--button-height);
  padding-inline: var(--spacing-md);
  background-color: var(--color-light-opacity-10);
  border: var(--border-themed);
  border-radius: var(--border-radius-md);
  cursor: pointer;

  &__heading,
  svg * {
    @include square(var(--icon-size));

    flex-shrink: 0;
  }

  &__title {
    @include fluid-text(16, 14);
    @include text-overflow-ellipsis(2);

    margin-right: auto;
  }

  &__trailing-icon {
    padding: remText(4);
    border-radius: remText(6);

    @include hover {
      color: var(--color-light);
      background-color: var(--color-orange-opacity-20);
    }

    &--cross {
      color: var(--color-gray-100);
    }
  }
}
