.search-field {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: var(--spacing-lg);
    font-size: remText(20);
    color: var(--color-text-accent-themed);

    @include mobile {
      margin-bottom: var(--spacing-md);
    }
  }

  &__body {
    @include border-shadow-themed(var(--border-radius-md));

    display: flex;
    align-items: center;
    column-gap: var(--spacing-sm);
    height: var(--input-height);
    padding-inline: var(--spacing-md);
    color: var(--color-text-themed);
    background-color: var(--color-light-opacity-10);
  }

  &__icon,
  &__cross {
    @include square(var(--icon-size));

    flex-shrink: 0;
  }

  &__input {
    @include reset-button;

    width: 100%;
    height: 100%;
    color: inherit;

    &:focus {
      outline: none;
    }
  }
}
