@use "../../../../styles/helpers" as *;

.schedule-week-view-controller-mobile {
  @include flex-center;

  justify-content: space-between;
  column-gap: rem(6);
  width: 100%;

  &__title {
    font-weight: 400;
  }

  &__body {
    color: var(--color-text-accent-themed);
  }

  &__button {
    @include square(var(--button-height));
    @include flex-center;

    flex-direction: column;
    padding-block: rem(4);
    border-color: transparent;
    border-radius: var(--border-radius-small);
    box-shadow: var(--shadow-themed);

    @include mobile-s {
      width: rem(41);
      height: rem(43);
    }

    &--today {
      border-color: var(--color-orange);
    }

    &--selected {
      border-color: var(--color-accent);
    }

    &--selected,
    &--today {
      & .schedule-week-view-controller-mobile__body {
        color: inherit;
      }
    }
  }
}
